In [6]:
import mysql.connector as mariadb

mariadb_connection = mariadb.connect(user='root', password='Ivan-DB', database='bookstore')
cursor = mariadb_connection.cursor()

cursor.execute("""
                  SELECT isbn, title FROM books LIMIT 0, 4
               """)
for isbn, title in cursor:
    print("ISBN: {}, Title: {}".format(isbn, title))
    
mariadb_connection.close()

ISBN: 0553211757, Title: Crime & Punishment
ISBN: 0553212168, Title: Brothers Karamazov
ISBN: 0553213695, Title: The Metamorphosis
ISBN: 0679420290, Title: Crime & Punishment